.container-invest-plan {
    max-width: 1920px;
    max-height: 1280px;
    display: flex;
    flex-direction: column;
    margin: 10vw 13vw 10vw 13vw;
}
.font-invest {
    font-size: 13px;
}
.invest-table {
    margin-top: 2rem;
    width: 100%;
    height: 25rem;
}

.color-1 {
    background-color: yellow;
}

.color-2 {
    background-color: #BDC8D5;
}
.color-4 {
    background-color: greenyellow;
}
.color-5 {
    background-color: #FDFB89;
}

.color-3 {
    background-color: #89FDEA;
}

.color-6 {
    background-color: #FDC789;
}

.color-7 {
    background-color: #FA6753;
}

.color-td:hover  {
    background-color: #BEC6D5;
}

table { 
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 2px solid black;
}

th {
    height: 3rem;
}

td {
    text-align: center;
    height: 2.5rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.saving-para{
    font-size: 20px;
    font-family: Helvetica Neue;
    color:black;
}

.between {
    display: flex;
    justify-content: space-between;
}
.input-saving{
    border: 2px solid;
    border-radius: 75px;
    background-color: #F0EEE8;
    border-color: #FFF;
    font-size: 15px;
    padding: 1.5em;
    width: 120%;
    text-align: center;
}

.bth-enter{
    padding: 1vw;
    margin: 0.75vw 42%;
    color: #FFF;
    background-color: #C3DDD6;
    border: 2px solid;
    border-radius: 75px;
    border-color: #FFF;
    width: 15%;
    font-size: 20px;
}

.bth-enter:focus,
.input-saving:focus {
    outline: none;
}

.bth-enter:hover,
.input-saving:hover{
    background-color: #BEC6D5;
    color: black
}

@media screen and (max-width: 1024px){
    .container{
        margin: 15vh;
    }
    .saving-para{
        font-size: 25px;
    }
    .saving-input{
        margin: 3.5vw 0.01%;
        padding: 3vw;
        font-size: 25px;
        width: 100%;
    }
    .bth-enter{
        margin: 0.75vw 25%;
        padding: 3vw;
        width: 50%;
        font-size: 25px;
    }
}

.head-invest-title-table {
    margin-top: 2rem;
}
@media screen and (max-width: 320px){
    .container{
        margin: 10vh;
        margin-top: 25vh;
    }
    .saving-para{
        font-size: 10px;
    }
    .saving-input{
        margin: 3.5vw 0.01%;
        padding: 3vw;
        font-size: 10px;
        width: 100%;
    }
    .bth-enter{
        margin: 0.75vw 25%;
        padding: 3vw;
        width: 50%;
        font-size: 10px;

    }
}