.container-retire-plan {
    max-width: 1920px;
    max-height: 1280px;
    display: flex;
    flex-direction: column;
    margin: 5vw 10vw 10vw 20vw;
}

.sub-container-retire-form,
.sub-container2-retire-form {
    display: flex;
    flex-direction: row;
}

.your-age-container,
.your-retire-age-container,
.your-die-age-container,
.your-asset-container {
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue;
    color:black;
    font-size: 20px;

}


.your-retire-input
 {
    padding: 1.25vw 6vw;
    border: 2px solid;
    border-radius: 75px;
    background-color: #F0EEE8;
    border-color: #FFF;
    width: 100%;
}

.your-retire-input:focus{
    outline: none;
}

.your-age-label,
.your-retire-label {
    margin-bottom: 1vh;
}

.your-die-age-label,
.your-asset-label {
    margin-bottom: 1vh;
    margin-top: 10vh;
}
.your-age-container,
.your-die-age-container {
    margin-right: 15vw;
}
.bth-enter-retire-form {
    padding: 1vw;
    color: #FFF;
    background-color: #C3DDD6;
    border: 2px solid;
    border-radius: 75px;
    border-color: #FFF;
    width: 30%;
    font-size: 20px;
}

.bth-enter-retire-form:focus{
    outline: none;
}

.retire-enter-position-form{
    margin-top: 10vh;
    margin-left: 20vw;
}

.bth-enter-retire-form:hover,
.your-age-input:hover,
.your-retire-input:hover,
.your-die-age-input:hover,
.your-asset-input:hover{
    background-color: #BEC6D5;
    color: black
}

.retire-chart-container {
    display: flex;
    flex-direction: row;
    margin: 10vh;
}

.detail-retire-container {
    /* background-color: red; */
    margin-left: 5vw;
}
.retire-space {
    height: 5%;
}
.retire-detail-one,
.retire-detail-three
 {
    height: 25%;
}

.retire-detail-two{
    height: 40%;
}


.retire-show-year-one {
    display: flex;
    flex-direction: row;
}

.retire-age-number {
    font-size: 75px;
    margin-top: 1vh;
    background-color: #BDC7D5;
    color: #FFF;
    width: 70%;
    text-align: center;
    border-radius: 75px;

}

.retire-age-number-two {
    background-color: #BDC7D5;
    color: #FFF;
    font-size: 40px;
    margin-top: 1vh;
    height: 50%;
    width: 70%;
    text-align: center;
    border-radius: 75px;
    padding: 0.25vw;
}

.retire-age-number-three {
    background-color: #BDC7D5;
    color: #FFF;
    font-size: 30px;
    margin-top: 1vh;
    height: 50%;
    width: 70%;
    text-align: center;
    border-radius: 75px;
    padding: 1vw;

}

.retire-age-number-year {
    width: 30%;

    margin-left: 1vw;
    font-size: 75px;
}

.retire-age-number-year-two {
    width: 30%;
    padding: 1vw;

    margin-left: 1vw;
    font-size: 50px;
}

.retire-age-number-year-three {
    width: 30%;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 15px;
    font-weight: bold;
    padding: 1vw;

}

.retire-age-number-year-four {
    width: 30%;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 30px;
    font-weight: bold;
    padding: 1vw;

}
